{% extends 'base.html' %}

{% block title %}- Home{% endblock %}


{% block content %}
    <div class="container mx-auto text-center">
        <h1 class=".translate-middle">Welcome to GOATrivia</h1>
        <div class="container">
            <form action="/start" method="get">
                <span>Select difficulty:</span>
                <select name="difficulty" class="w-25 form-select container-sm mt-2 mb-2">
                    <option value="any">Any</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <input class="btn btn-primary m-2" type="submit" value="Start Game">
            </form>
        </div>
        <a class="btn btn-info m-2 btn-sm" href="/leaderboard">Leaderboard</a>
    </div>
{% endblock %}